<h3>Vous êtes invité sur l'application AmaGantt</h3>
<p>Bonjour {{ name }}</p>

<p>Vous avez été ajouté à cette expérience extraordinaire qu'est Amagantt<br>Be Proud!</p>


<p>Informations de connection :</p>
<p>login : {{ email }}</p>
<p>password: {{ password }}</p>
<p>
    N'oubliez pas de changer votre mot de passe lors de votre première connexion.
</p>

<p>
    Amagantt n'est pas encore RGPD compatible, mais vous receverez très vite les informations concernant vos droits et nos politiques utilisateurs
</p>

<p>A bientôt sur Amagantt</p>




