<h3>Somebody registered you</h3>
Hi {{ name }}

You've been added to this extraordinary experience that is Amagantt
Be proud !

Login credentials :
login : {{ email }}
password: {{ password }}

See you soon !